<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>Proyectos Ecys</title>
	<link rel="stylesheet" href="{% static 'sistema_pe/index.css' %}">
</head>
<body>

	<header>
		{% if aceptado %}
		<h3>el usuario no pudo logearse: {{ usuario }}</h3>
		{% endif %}

	</header>

	<div id="login_form">
		<div>
			<form action="/login/" method="POST">
				{% csrf_token %}
				<input type="text" name="usrNombre">
				<input type="text" name="usrClave">
				<input type="submit" value="Aceptar">
			</form>
		</div>
	</div>

	<footer>
		<nav>
			<div class="boton">About</div><!--
			--><div class="boton">Terminos</div><!--
			--><div class="boton">Ayuda</div>
		</nav>
	</footer>
</body>
</html>
