<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>Proyectos Ecys</title>
	<link rel="stylesheet" href="{% static 'sistema_pe/index.css' %}">
</head>
<body>

	<header>
		
	</header>

	<div id="login_form">
		<div>
			Nombre: 
			<div id="nombre" class="txt"></div>
			Clave:
			<div id="clave" class="txt"></div>
		</div>
	</div>

	<footer>
		<nav>
			<div class="boton">About</div><!--
			--><div class="boton">Terminos</div><!--
			--><div class="boton">Ayuda</div>
		</nav>
	</footer>
</body>
</html>
