body{
    font: 90% monospace;
    /*font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;*/
}

.anuncio {
    position: absolute;
    top: 50px;
    color: #fa3333;
    width: 100%;
}

.triangulo_asig{
    position: absolute;
    right: 0px;
    width: 0px;
    height: 0px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    font-size: 0;
    line-height: 0;
    border-left: 10px solid #008b8b; /* bottom, add background color here */
    background-color: #FFFFFF; 
    display: inline;
}

.triangulo_deasig{
    position: absolute;
    left: 0px;
    width: 0px;
    height: 0px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    font-size: 0;
    line-height: 0;
    border-right: 10px solid #e05050; /* bottom, add background color here */
    background-color: #FFFFFF; 
    display: inline;
}

.btn_asignar {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-color: #008b8b;
    line-height: 20px;
    text-align: left;
    width: 95px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}
.btn_deasignar {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-color: #e05050;
    line-height: 20px;
    text-align: left;
    width: 95px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}

.desc {
    width: 500px;
    height: 20px;
    top: 0px;
    bottom: 0px;
    left: 10px;
    margin: auto;
    display: inline-block;
    cursor: default;
}


#contenido {
    position: absolute;
    top: 0px;
    left: 300px;
    right: 0px;
    color: #444444;
    /*background-color: #111111;*/
    height: 100%;
}

.cont{
    position: absolute;
    left: 0px;
    right: 0px;
    width: 60%;
    top: 100px;
    margin: auto;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.poculto {
    left: -2500px;
}

.ptitulo{
    position: absolute;
    top: 0px;
    height: 40px;
    line-height: 20px;
    width: 100%;
    /*background-color: #ddd;*/
    border-bottom: solid 1px;
}

.clase {
   position: relative;
   margin-top: 3px;
   top: 75px; 
   width: 100%;
   background-color: #ffffff;
   border-bottom: solid 1px #444444;
   height: 30px;
   line-height: 30px;
}

#pasignar {
    min-height: 100px;
    /*background-color: #aaa;*/
}

/**************************CAMBIAR********************************************/
.contCambio {
    position: absolute;
    top: 50px;
    width: 400px;
    right: 0px;
    left: 0px;
    margin: auto;
}
.formCambio {
    position: absolute;
    top: 75px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 200px; 
}
.txtfield {
    position: absolute;
    width: 200px;
    height: 25px;
    line-height: 25px;
    border: solid 1px #DF6A38;
    padding-left: 5px;
}

.btnCambio {
    position: absolute;
    width: 75px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

#correo_nuevo {
    top: 5px;
}
#pass {
    top: 40px;
}
#btn_cambiarc {
    background-color: #DF6A38;
    color: #ffffff;
    top: 75px;
    right: -3px;
}

#nuevap {
    top: 5px;
}
#rnuevap {
    top: 40px;
}
#passp{
    top: 75px;
}
#btn_cambiarp{
    top: 105px;
    background-color: #DF6A38;
    color: #ffffff;
    right: -3px;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-ph)
}
/**************************CAMBIAR********************************************/

/************************** aqui terminan los paneles *******************************/



#lateral {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    background-color: #343131;
    border-right: solid 1px;
}

#titulo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: #6a82b7;
}

#encabezado {
    font-weight: 900;
    font-size: 200%;
    text-align: center;
    color: #fff;
    line-height: 100px;
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0px;
    left: 0px;
}

#herramientas {
    position: absolute;
    height: 40%;
    width: 100%;
    top: 60%;
    left: 0px;
}


#barra {
    position: absolute;
    height: 75%;
    width: 200px;
    top: 0px;
    left: 50px;
    bottom: 0px;
    margin-top: auto;
}

.menu{
    position: absolute;
    height: 100%;
    width: 90%;
}

#lista_menus {
    position: relative;
    background-color: #343139;
    width: 100%;
    top: 100px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.div_list {
    font-weight: bold;
    color: #fff;
    padding-left: 2%;
    line-height: 25px;
    width: 98%;
    height: 25px;
    cursor: default;
}

.div_list:hover {
    background-color: #fff;
    color: #000;
}

.item_list {
    font-weight: normal;
    position: relative;
    background-color: #939fad;
    line-height: 25px;
    height: 25px;
    width: 90%;
    padding-left:10%;
    border-bottom: solid 1px;
    border-color: #939fad;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.item_list:hover {
    background-color: #fff;
}

.oculto {
    opacity: 0;
    height: 0px;
    visibility:hidden;
}
