body{
    font: 90% monospace;
    /*font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;*/
}

.triangulo{
    position: absolute;
    right: 0px;
    width: 0px;
    height: 0px;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    font-size: 0;
    line-height: 0;
}


#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
}

#contenido {
    background-color: #ff0;
    width: 50%;
    height: 50%;
    top: 75px;
    position: absolute;
}

#info {
    background-color: #ddd;
    width: 50%;
    height: 50%;
    position: absolute;
}
#cuerpo {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 300px;
}


#lateral {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    background-color: #343131;
}

#titulo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20%;
    background-color: #DF6A38;
}

#logo{
    font-weight: 900;
    font-size: 200%;
    color: #fff;
    position:absolute;
    height: 100px;
    width: 100%;
    top: 0px;
    left: 0px;
}

#herramientas {
    position: absolute;
    height: 40%;
    width: 100%;
    top: 60%;
    left: 0px;
}

#imglogo {
    position: absolute;
    height: 50%;
    width: 35%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

#barra {
    position: absolute;
    height: 75%;
    width: 200px;
    top: 0px;
    left: 50px;
    bottom: 0px;
    margin-top: auto;
}

.logMenu {
    position: relative;
    height: 100%;
    width: 25%;
    display: inline-block;
}

.menu{
    position: absolute;
    height: 100%;
    width: 90%;
}

#lista_menus {
    position: relative;
    background-color: #343139;
    width: 100%;
    top: 25%;
    left: 0px;
    right: 0px;
    margin: auto;
}

.div_list {
    font-weight: bold;
    color: #fff;
    padding-left: 2%;
    line-height: 25px;
    width: 98%;
    height: 25px;
}

.div_list:hover {
    background-color: #fff;
    color: #000;
}

.item_list {
    font-weight: normal;
    position: relative;
    background-color: #99b2cc;
    line-height: 25px;
    height: 25px;
    width: 90%;
    padding-left:10%;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.item_list:hover {
    background-color: #fff;
}

.oculto {
    opacity: 0;
    height: 0px;
}
