body{
}

.triangulo{
    position: absolute;
    right: 0px;
    width: 0px;
    height: 0px;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    font-size: 0;
    line-height: 0;
}


#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
}

#contenido {
    background-color: #ff0;
    width: 50%;
    height: 50%;
    top: 75px;
    position: absolute;
}

#info {
    background-color: #ddd;
    width: 50%;
    height: 50%;
    position: absolute;
}
#cuerpo {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 300px;
}


#lateral {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    background-color: #343131;
}

#titulo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20%;
    background-color: #DF6A38;
}

#logo{
    position:absolute;
    height: 60%;
    width: 100%;
    top: 0px;
    left: 0px;
}

#herramientas {
    position: absolute;
    height: 40%;
    width: 100%;
    top: 60%;
    left: 0px;
}

#imglogo {
    position: absolute;
    height: 50%;
    width: 35%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

#barra {
    position: absolute;
    height: 75%;
    width: 200px;
    top: 0px;
    left: 50px;
    bottom: 0px;
    margin-top: auto;
}

.logMenu {
    position: relative;
    height: 100%;
    width: 25%;
    display: inline-block;
}

.menu{
    position: absolute;
    height: 100%;
    width: 90%;
}

#lista_menus {
    position: relative;
    background-color: #fff;
    height: 50px;
    width: 50px;
    top: 25%;
}

