<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>proyectos ecys</title>
    <link rel="stylesheet" href="{% static 'sistema_pe/dashboard.css' %}">
</head>
<body>
    {% if request.session.logueado %}
        <div id="dashboard">
            <div id="lblusuario">
                <div class="flecha">usua</div><!--
                --><div class="triangulo flecha t1"></div>
            </div>
            <div id="lblclase">
                <div class="flecha">clase</div><!--
                --><div class="triangulo flecha t2"></div>
            </div>
            <div id="lblproyecto">
                <div class="flecha">proy</div><!--
                --><div class="triangulo flecha t3"></div>
            </div>
        </div>
    {% else %}
        <h3>no tiene los permisos suficientes par estar aqui<h3>
    {% endif %}
</body>
</html>
