<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load dajaxice_templatetags %}
    <meta charset="utf-8">
    <title>proyectos ecys</title>
    <link rel="stylesheet" href="{% static 'sistema_pe/tutor.css' %}">
    {% dajaxice_js_import %}
    <script type="text/javascript" src="{% static 'sistema_pe/scripts/jquery-2.1.0.min.js' %}"> </script>
    <script type="text/javascript" src="{% static 'sistema_pe/scripts/tutor.js' %}" > </script>
</head>
<body>
    {% if request.session.logueado %}
        <div id="contenido">
            <div id="pcrearproyecto" class="cont">
                <div class="ptitulo"><h1>&nbsp;&nbsp;Crear Nuevo Proyecto</h1> </div>
                    <div class="anuncio"></div>
                <div class="contCambio">
                    <div class="formCambio">
                        <select id="proyectonp">
                            <option>proy</option>
                        </select>
                        <div id="nombrenp" class="txtfield" contenteditable="true" data-ph="nombre proyecto"></div>
                        <div id="descripcionnp" class="txtfield" contenteditable="true" data-ph="Descripcion"></div>
                        <div id="btn_proyectonp" class="btnCambio">Cambiar</div> 
                    </div>
                </div>
            </div>

            <div id="pmisproyectos" class="cont poculto">
                <div class="ptitulo"><h1>&nbsp;&nbsp;Mis proyectos</h1></div>
            </div>

            <div id="pagregarc" class="cont poculto">
                <div class="ptitulo"><h1>&nbsp;&nbsp;Agregar contenido</h1></div>
            </div>

            <div id="pvercontenido" class="cont poculto">
                <div class="ptitulo"><h1>&nbsp;&nbsp;Contenido</h1></div>
            </div>

            <div id="pasignar" class="cont poculto">
                <div class="ptitulo"><h1>&nbsp;&nbsp;Asignacion de Cursos</h1></div>
            </div>

        </div>
        <div id="lateral">
            <div id="titulo" class="en_encabezado">
                <div id="encabezado">
                    {{ carnet }}
                </div>
            </div>
            <div id="lista_menus">
                <!--<div id="list_edicion">
                    <div class="div_list" class="collapsable">
                        Edicion
                    </div>
                    <div class="item_list">
                        Cambiar Fecha
                    </div>
                </div>-->
                <div id="list_workspace" class="collapsable">
                    <div class="div_list">
                        Workspace
                    </div>
                    <div class="item_list">
                        Mis Proyectos
                    </div>
                    <div class="item_list">
                        Crear Proyecto
                    </div>
                    {% for proy in proyectos %}
                    <div class="item_list">
                        {{ proy.nombre }}
                    </div>
                    {% endfor %}
                </div>
                <div id="list_contenido" class="collapsable">
                    <div class="div_list">
                        Contenido
                    </div>
                    <div class="item_list">Agregar contenido</div>
                    <div class="item_list">Ver contenido anterior</div>
                </div>
            </div>
        </div>

    {% else %}
        <h3>no tiene los permisos suficientes par estar aqui<h3>
    {% endif %}
</body>
</html>
