<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>proyectos ecys</title>
    <link rel="stylesheet" href="{% static 'sistema_pe/usuario.css' %}">
</head>
<body>
    {% if request.session.logueado %}
        <header>
            <a href="/logout/">salir</a>
            <div id="herramientas">
                <div class="barMenu" id="menuclases">
                </div><!--
                --><div class="barMenu" id="menuconf">
                </div>
            </div>
        </header>
        <div id="contenido">
        </div>
    {% else %}
        <h3>no tiene los permisos suficientes par estar aqui<h3>
    {% endif %}
</body>
</html>
